<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Properties.Settings>
            <setting name="ComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="Baud" serializeAs="String">
                <value />
            </setting>
            <setting name="Flow" serializeAs="String">
                <value />
            </setting>
            <setting name="Parity" serializeAs="String">
                <value />
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value />
            </setting>
            <setting name="AttributesAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
        </Properties.Settings>
    </userSettings>
</configuration>